<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="Mysli" connectionString="Data source=localhost;Initial Catalog=atlassian;user=root;password=Jfsuy2487fsaksfia" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" />
      <customErrors mode="On" defaultRedirect="~/ErrorSite.aspx"/>
    </system.web>

</configuration>
